services:
  mysql:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: insamo_rw
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: dev
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      DATABASE_URL: mysql://root:password@mysql:3306/insamo_rw
      BETTER_AUTH_SECRET: jNIH928h91hjO
      BETTER_AUTH_URL: http://localhost:3000
      PORT: 3000
    command: sh -c "yarn push && yarn dev"
    ports:
      - "3000:3000"
    depends_on:
      - mysql

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      VITE_API_URL: http://localhost:3000
    command: yarn dev
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mysql_data:
