services:
  mysql:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: insamo_rw
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    working_dir: /var/www
    volumes:
      - ./backend:/var/www
    environment:
      DATABASE_URL: mysql://root:password@mysql:3306/insamo_rw
      APP_URL: http://localhost:8000
      FRONTEND_URL: http://localhost:5173
    command: sh -c "composer install && php artisan serve --host=0.0.0.0 --port=8000"
    ports:
      - "8000:8000"
    depends_on:
      - mysql

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      VITE_API_URL: http://localhost:8000
    command: yarn dev --host
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mysql_data:
