APP_NAME=Insamo_v2
APP_ENV=local
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

# Database configuration (MySQL requested)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=insamo_v2
DB_USER=root
DB_PASSWORD=secret

# JWT configuration
JWT_SECRET=your_secret_key_here


# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
